@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: #e5e5e5;
  margin: 0;
  padding: 0;
}

header {
  top: 0;
  padding: 15px 10px;
  background-color: #fff;
}

header li {
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  margin-bottom: 44px;
}

header a {
  text-decoration: none;
  color: #fff;
  font-size: 55px;
  font-weight: bold;
  line-height: 44px;
  font-family: 'Poppin', sans-serif;
}

header h3 {
  font-size: 18px;
  margin: 0;
  font-family: 'Poppin', sans-serif;
  color: #6070ff;
}

nav {
  height: 0;
  overflow: hidden;
  transition: 250ms height ease-in-out;
  background-color: #fff;
}

#listItems {
  display: none;
}

.article {
  display: none;
  width: 100%;
  height: auto;
  background-color: #fff;
  z-index: 1;
  font-family: 'Poppin', sans-serif;
  border-radius: 16px;
  margin-bottom: 20px;
}

.closeBtn {
  margin-left: -40px;
}

p {
  color: #344563;
  font-size: 16px;
  line-height: 24px;
}

.article p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #344563;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.pop-img {
  justify-content: center;
  align-items: center;
  width: 95%;
}

div h2 {
  font-weight: 700;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

.pop-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px 0 30px 16px;
}

.pop-span {
  display: flex;
  margin-left: 16px;
  margin-bottom: 10px;
  gap: 0 5px;
  font-family: 'Poppin', sans-serif;
  font-style: normal;
  width: 100%;
  font-size: 15px;
  color: #757575;
}

.article2 li {
  background-color: #ebebff;
  font-size: 12px;
  color: #0d45d3;
  padding: 2px 10px;
  border-radius: 5px;
}

.pop-title h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  padding: 0;
  margin: 0;
}

.span {
  margin-left: 16px;
}

.span li {
  list-style-type: none;
  color: #6070ff;
}

.article2 button {
  width: 146px;
  height: 48px;
  left: 157px;
  margin-bottom: 20px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  align-items: center;
  color: #6070ff;
}

.article2 button a {
  text-decoration: none;
  color: #6070ff;
}

.separater {
  border-bottom: 1px solid#ebecf0;
  margin: 10px 20px;
}

.container {
  background-color: #fff;
  margin: 0;
  width: 100%;
  justify-content: space-between;
}

.nav-toggle {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  align-items: center;
}

.open {
  height: 100vh;
  background-color: #6070ff;
  backdrop-filter: blur(5px);
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 50px;
  opacity: 0.9;
  display: none;
  font-family: 'Poppin', sans-serif;
}

.items {
  padding-top: 40px;
}

.closeIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 100px;
  height: 100px;
}

.grid h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.contact_header p {
  color: white;
}

.introduction_section {
  background-image: url("./images/header-shapes\ mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 30px 150px 30px;
  background-color: white;
  border-bottom-left-radius: 100px;
}

.introduction_section > * {
  max-width: 780px;
  margin: 0 auto;
}

.introduction_section .intro_title h1 {
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
  font-weight: bold;
  line-height: 60px;
}

.contact-form p {
  color: #fff;
  height: 102px;
  padding: 0;
  top: 4802px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 70px;
}

.introduction_section .intro_descript p {
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.connect_links ul {
  display: flex;
  padding: 0;
  margin-left: -20px;
}

.connect_links ul li {
  list-style-type: none;
  margin-left: 20px;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  height: auto;
  width: fit-content(100%);
}

h1 .l-2 {
  font-size: 40px;
  color: #172b4d;
}

.text-2 {
  margin-top: -30px;
  margin-right: 24px;
}

.links ul {
  font-size: 16px;
  margin-bottom: 50px;
  text-decoration: none;
  display: flex;
  margin-left: -45px;
}

.links ul li {
  list-style-type: none;
  margin-left: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #c7c9d1;
  background-color: #fff;
  margin-top: 114px;
  left: 24px;
  border-radius: 16px;
  margin-left: 24px;
  margin-right: 24px;
  padding: 16px;
}

.l-1 {
  display: flex;
  flex-direction: row;
  gap: 0 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.l-3 {
  margin-left: -41px;
}

.card img {
  width: 100%;
  object-fit: cover;
}

.card ul li {
  list-style: none;
  background-color: #ebebff;
  font-size: 12px;
  color: #0d45d3;
  padding: 2px 10px;
  border-radius: 5px;
}

.btn-over {
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  padding: 10px;
  color: #0d45d3;
  border-radius: 10px;
  background-color: #fff;
  opacity: 0.9;
  margin-bottom: 20px;
  border: 1px solid #757575;
  transition: all 0.5s;
}

.btn-over:hover {
  background-color: #2e43ff;
  cursor: pointer;
  color: #fff;
}

.btn-over:active {
  background-color: #2230d2;
}

.flex {
  align-items: flex-start;
  width: 100%;
  margin-bottom: 250px;
}

.grid {
  background-color: #fff;
  padding: 144px 24px 0 24px;
  border-top-right-radius: 200px;
  margin-top: 200px;
  margin-bottom: 20px;
}

.grid ul li {
  list-style-type: none;
  margin-top: 20px;
}

.grid ul {
  display: grid;
  justify-self: flex-start;
  gap: 0 8px;
}

.contact_form {
  height: auto;
  width: 100%;
  background-color: #5263ff;
  margin-top: -20px;
  background-image: url(./images/contact-form-shapes-mobile.svg);
  background-repeat: no-repeat;
  background-position: right;
  border-top-left-radius: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact_header {
  font-size: 25px;
  text-align: center;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form_content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form_content textarea {
  height: 170px;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  margin: 10px 20px 10px 20px;
}

.form_content input,
.form_content textarea:focus {
  outline: none;
}

.form_content input {
  height: 40px;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  margin: 10px 20px 10px 20px;
}

.form_content small {
  display: none;
}

.error-message {
  background-color: red;
  color: #fff;
  width: 50%;
  height: auto;
  border-radius: 8px;
  padding: 5px 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin: 0 0 -5px 120px;
  text-align: center;
  border: 0.5px #fff solid;
}

.form_content button {
  background-color: #fff;
  height: 50px;
  width: 40%;
  color: #5263ff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  margin: 10px 20px;
}

.form_content button:hover {
  background-color: #2e43ff;
  color: #fff;
  opacity: 0.9;
  border: 1px solid #fff;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #344563;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.lang img {
  width: 20px;
  height: 20px;
}

.list .back {
  display: grid;
  flex-direction: column;
  border-radius: 8px;
  padding: 10px 50px 30px 5px;
  width: 80%;
  height: 50px;
  background-color: #f7f7f9;
}

.border {
  background: #dfe1e6;
  width: 85%;
  height: 1px;
}

.article2 {
  height: auto;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ebecf0;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  border-radius: 16px;
  margin-top: 0;
  justify-self: center;
  width: 80%;
  position: absolute;
  transform: translate(50%, -50%);
  top: 50%;
  right: 50%;
  z-index: 99;
  overflow-x: hidden;
  padding: 40px;
}

@media (min-width: 768px) {
  body {
    overflow-x: hidden;
  }

  header {
    background-color: #fff;
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 99%;
    margin: 0;
    padding: 0 1rem;
  }

  header li {
    display: flex;
    padding: 0 1.25rem;
  }

  header li a {
    color: #172b4d;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Poppin', sans-serif;
  }

  header ul {
    padding: 0;
  }

  header h3 {
    margin-top: 20px;
  }

  .topRight {
    float: right;
  }

  #listItems {
    display: flex;
    flex-direction: row;
    right: 0;
    color: #344563;
    margin-top: -15px;
  }

  div h2 {
    font-weight: 700;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
  }

  nav {
    overflow: visible;
    background-color: #fff;
  }

  .nav-toggle {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: none;
  }

  #overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }

  .separater {
    width: 298px;
  }

  .desktop {
    display: grid;
    grid-template-columns: 65% 35%;
    margin: 0 24px;
  }

  .pop-img {
    width: 100%;
  }

  .pop-img img {
    /* width: 818px; */
    height: auto;
    width: 95%;
    object-fit: cover;
  }

  .pop-title {
    margin: 0;
  }

  .pop-span {
    font-family: 'Poppin', sans-serif;
    color: #6b778c;
    font-size: 15px;
  }

  .article2 button {
    width: 130px;
    height: 40px;
    left: 157px;
    margin-bottom: 20px;
    border: 1px solid #6070ff;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    align-items: center;
    color: #6070ff;
  }

  .connect_link a {
    position: static;
    width: 117px;
    height: 24px;
    left: 0;
    top: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    margin: 12px 0;
    text-align: center;
  }

  .links > a {
    text-decoration: none;
  }

  .connect_links a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #5263ff;
    font-size: 16px;
  }

  .grid a {
    text-decoration: none;
    color: #5263ff;
  }

  .article2 button a {
    text-decoration: none;
    color: #6070ff;
  }

  .lang img {
    width: 15px;
    height: 15px;
  }

  .article2 button img {
    width: 16px;
    height: 16px;
    text-align: center;
    align-items: center;
  }

  .span .l-1 li {
    background-color: #ebebff;
    border-radius: 8px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding-right: 5px;
  }

  .span .l-3 {
    display: grid;
    grid-template-columns: repeat(3, 6rem);
  }

  .buttons {
    margin-left: 20px;
  }

  .introduction_section {
    justify-content: center;
    color: #fff;
  }

  .introduction_section .intro_title h1 {
    position: static;
    height: 122px;
    left: 0;
    top: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    letter-spacing: 0.37px;
    color: #091e42;
  }

  .par-overflow {
    padding-right: 36px;
  }

  .par2-overflows {
    padding-right: 50px;
  }

  .contact_header p {
    padding: 0 19rem;
  }

  .intro_descript p {
    position: static;
    height: 98px;
    left: 0;
    top: 134px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 12px 0;
    justify-content: center;
  }

  .card-1 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
  }

  .card-2 {
    display: flex;
    gap: 0 46px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
    border-bottom-right-radius: 0;
    padding: 70px;
  }

  .about-div h2,
  .headline h2 {
    color: #091e42;
  }

  .card-2 .about-div {
    width: 40%;
  }

  .contact-header p {
    width: 569px;
    height: 102px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }

  .about-img {
    grid-column: 2/3;
    width: 60%;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    height: auto;
    column-gap: 30px;
  }

  #icon-container {
    display: flex;
    flex-direction: row;
  }

  .about-img ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51%;
  }

  .about-text {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .title {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    color: #344563;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
  }

  .list {
    display: flex;
    justify-content: space-between;
    width: 300px;
  }

  .list .back {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    padding: 5px 30px 20px 5px;
    margin: 15px 10px;
    width: 100px;
    height: 100px;
    background-color: #f7f7f9;
  }

  .border {
    background: #dfe1e6;
    width: 82%;
    height: 1px;
    margin-bottom: 5px;
  }

  .contact-header h2 {
    width: 801px;
    height: 56px;
    left: 0;
    top: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .my_form input {
    width: 447px;
    left: 0;
    top: 0;
    border-radius: 2px;
    align-items: center;
  }

  .my_form textarea {
    height: 170px;
    width: 447px;
    left: 0;
    top: 0;
    border-radius: 2px;
  }

  .my_form button {
    height: 48px;
    width: 140px;
    border-radius: 8px;
    padding: 12px 16px;
    display: flex;
    flex-direction: row;
    margin-left: 188px;
  }

  .contact_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .framework {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ebebff;
    margin-top: 50px;
    gap: 495px;
  }

  .skill {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ebebff;
    gap: 535px;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .card-3 {
    gap: 0 46px;
  }

  [img-pos] {
    order: 1;
  }

  @keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  .intro_descript {
    animation: 1s ease-out 0s 1 slideInLeft;
  }

  #space {
    margin: 0 20px;
  }
}
